.nav {
  text-align: center;
  padding: 1rem 1.5rem;
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.nav_div {
  background-color: rgb(71, 112, 219);
}
