.home_header {
  background-image: url(./images/01.webp);
  width: 100%;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
}
.data {
  margin-left: 70px;
}
.header_container {
  background-color: white;
  width: 40%;
  margin-left: 200px;
  padding: 50px;
  /* padding-left: 200px; */
  border-radius: 30px;
  position: relative;
  animation: hairanimation 1s ease-in-out;
}
@keyframes hairanimation {
  from {
    left: -1500px;
  }
  to {
    left: 0px;
  }
}
.Shampoobtn {
  margin-top: 20px;
  padding: 20px;
  border-radius: 27px;
  background-color: rgb(14, 27, 77);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.header_container h1 {
  font-size: 57px;
  color: rgb(14, 27, 77);
}
.header_container p {
  font-size: 19px;
  line-height: 35px;
  color: rgb(71, 85, 105);
}

@media screen and (max-width: 990px) {
  .home_header {
    background-image: url(./images/01.webp);
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
  }
  .header_container {
    background-color: white;
    width: 350px;
    margin-left: 70px;
    padding: 50px;
    border-radius: 30px;
  }
  .data {
    margin-left: 20px;
  }
}
@media screen and (max-width: 990px) {
  .header_container {
    background-color: white;
    width: 350px;
    margin-left: 0px;
    padding: 50px;
    border-radius: 30px;
  }
}
