.navbar_div {
  background-color: rgb(14, 27, 77);
  padding-top: 20px;
  padding-bottom: 8px;
}
.Search_icon {
  font-size: 30px !important;
  color: white;
  cursor: pointer;
}
.Search_icon2 {
  display: none !important;
  margin-right: 20px;
}

.navbar_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px 0px 200px;
}
/* .navbar_main {
  display: none;
} */
.heading_logo {
  max-width: 140px;
  height: auto;
  cursor: pointer;
}
.bag_icon {
  color: white;
  cursor: pointer;
}
.menu_icon {
  display: none !important;
}
.bad_search {
  display: flex;
}
.Nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.link {
  text-decoration: none;
  color: rgb(182, 186, 203);
  padding: 10px 15px 10px 15px;
}
.input_form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 30px 0px;
  transition: all 0.3s ease-in-out;
}
.input_form_not {
  display: none;
}
.Search_icon_input {
  margin-left: -40px;
  font-size: 25px !important;
  color: white;
  cursor: pointer;
}
.close_icon {
  margin-left: 20px;
  font-size: 25px !important;
  color: white;
  cursor: pointer;
}
.header {
  display: none;
}
input {
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(149, 156, 158);
  padding: 16px;
  font-size: 15px;
  width: 30%;
  color: rgb(216, 216, 216) !important;
}
input::-webkit-input-placeholder {
  color: rgb(182, 186, 203);
  position: absolute;
  left: 10;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
input:focus::-webkit-input-placeholder {
  transform: translateX(-150%);
  font-size: 12px;
}
/* navbar mediacury */

@media screen and (max-width: 990px) {
  .navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 0px 20px 0px;
  }
  .menu_icon {
    display: block !important;
    color: white;
    font-size: 25px !important;
  }
  .Nav_links {
    display: none;
  }
  .Search_icon {
    display: none !important;
  }
  .Search_icon2 {
    display: block !important;
    font-size: 30px !important;
    color: white;
    cursor: pointer;
  }
}
/* sidebar */
.sidebar1 {
  display: none;
}
.sidebar2 {
  display: none;
}

@media screen and (max-width: 990px) {
  .sidebar1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(14, 27, 77);
    width: 45%;
    height: 75vh;
    padding: 30px;
    position: absolute;
    left: -66%;
    transition: 0.3s;
  }
  .sidebar2 {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(14, 27, 77);
    width: 45%;
    height: 75vh;
    padding: 30px;
    left: 0%;
    position: absolute;
    z-index: 1;
  }
  .sidebar_link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    /* color: rgb(182, 186, 203); */
    margin: 25px 0px 0px 15px;
  }
}
