* {
  margin: 0;
  padding: 0;
}
article {
  width: 100%;
  margin: auto;
  margin-top: 90px;
}
.cart_box img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.cart_img {
  display: flex;
  width: 400px;
}
.cart_img p {
  font-weight: bold;
  margin-left: 10px;
  font-size: 26px;
  margin-top: 30px;
}
.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  /* border-bottom: 2px solid skyblue; */
  padding-bottom: 5px;
}
.cart_box div:nth-child(2) button {
  /* padding: 10px 15px;
  font-weight: bold;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #4770db; */
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;

  background-color: white;
}

.add_subtractbtn {
  /* margin: 20px; */
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.cart_box div:nth-child(3) button {
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(6, 6, 43);
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
  border-radius: 20px;
  margin-left: 20px;
}
.cart_box div:nth-child(3) button:hover {
  background-color: rgb(103, 121, 182);
}

.total {
  display: flex;
  justify-content: space-between;
}
.total span:nth-child(1) {
  font-size: 2rem;
  margin-top: 40px;
  color: rgb(17, 22, 68);
  font-weight: bold;
  letter-spacing: 2px;
}
.total span:nth-child(2) {
  font-size: 2rem;
  color: rgb(17, 22, 68);
  font-weight: bold;
  margin-top: 40px;
}
.item_price {
  color: rgb(95, 98, 101);
}
@media screen and (max-width: 990px) {
  .cart_box div:nth-child(2) button {
    /* padding: 10px 15px;
  font-weight: bold;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #4770db; */
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 18px;
  }
  .cart_box div:nth-child(3) span {
    /* background-color: #0e1b4d;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin-right: 10px; */
    padding: 0px;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(90, 88, 85);
  }

  .add_subtractbtn {
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
  }
}
.price_btn {
  display: flex;
}
